*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url('./Assests/mario-bg.jpg');
    background-size: cover;
    text-align: center;
}
#board{
    width: 540px;
    height: 540px;
    border: 3px solid white;
    border-radius: 25px;
    margin: 0 auto;
    background-image: url('./Assests/soil.png');
    display: flex;
    flex-wrap: wrap;
}
#board div{
    width: 180px;
    height: 180px;
    background-image: url('./Assests/pipe.png');
    background-size: cover;
}
#board div img{
    width: 100px;
    height: 100px;
    
}